#showPassword {
    width: 1050px;
    height: 150px;
    border-style: solid;
    border-color: darkgray;
    padding: 10px;
    margin: 15px;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
    word-wrap: break-word;
}

.is-primary {
    margin-left: 15px;
    width: 175px;
}

.is-danger {
    width: 145px;
}

.hero {
    margin-left: 15px;
}